<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src={{image}} alt="">
    {{!-- <img src="{{image}}"alt="profie img"> --}}
    {{#each profile as |b|}}
      <h4>{{ b.title}}</h4>
      <img src = {{b.image}} alt = " ">
    {{/each}}
</body>
</html>

</html>
